<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" thread-count="3" parallel="tests" allow-return-values="true">
    <test name="setup" parallel="tests">
        <classes>
            <class name="com.htht.CasesBase.ConfigBase"/>
        </classes>
    </test>
    <!--test verbose="2" preserve-order="true" name="firefoxTest" >
        <parameter name="browser" value="firefox"/>
        <parameter name="remoturl" value="http://10.1.1.107:5555/wd/hub"/>
        <parameter name="platform" value="linux"/>
        <classes>
            <class name="com.htht.CasesBase.DriverBase"/>
            <class name="com.htht.RunCases.test1"/>
        </classes>
    </test-->
    <test verbose="2" preserve-order="true" name="chromeTest" >
        <parameter name="browser" value="chrome"/>
     <classes>
         <class name="com.htht.CasesBase.DriverBase"/>
         <!--class name="com.htht.RunCases.test2"/-->
         <!--<class name="com.htht.TestCase.Login"/>-->
         <class name="com.htht.TestCase.MyPageTest"/>
     </classes>
    </test>
    <listeners>
        <listener class-name="com.htht.Listener.ReportListener"/>
        <listener class-name="com.htht.Listener.RetryListener"/>
        <listener class-name="com.htht.Listener.ScreenListener"/>
    </listeners>
</suite>